<ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>



<h1> Log New Student: </h1>

<%= form_for(@student) do |f| %>
<%= f.label :name  %>
<%= f.text_field :name  %><br><br>
<%= f.label :mod  %>
<%= f.text_field :mod  %><br><br>
<%= f.submit %>
<% end  %>

